<%= render 'header' %>

<main>
<div class="good">

  <div class="good-bands">
    <h2>Good 90's Bands</h2>

    <% @goodbands.each do |goodband| %>
      <h3><%= link_to goodband.name, goodband_path(goodband) %></h3>
      <h4><%= link_to "Delete Band", goodband_path(goodband), method: 'delete' %></h4>
    <% end %>

  </div>

  <div class="add-good-band">

    <h2>Add Good Band</h2>

  <%= form_for :goodband, method: 'post', url: {action: 'create'} do |f| %>
      <%= label(:goodband, :name) %>
      <%= f.text_field :name %>

      <%= label(:goodband, :song) %>
      <%= f.text_field :song %>

      <%= label(:goodband, :album) %>
      <%= f.text_field :album %>

      <%= f.submit "SAVE GOOD BAND" %>
  <% end %>

  </div>

</div>

<div class="bad">

  <div class="bad-bands">
    <h2>Bad 90's Bands</h2>

    <% @badbands.each do |badband| %>
      <h3><%= link_to badband.name, badband_path(badband) %></h3>
      <h4><%= link_to "Delete Band", badband_path(badband), method: 'delete' %></h4>
    <% end %>

  </div>

  <div class="add-bad-band">

    <h2>Add Bad Band</h2>

  <%= form_for :badband, method: 'post', url: {action: 'create'} do |f| %>
      <%= label(:badband, :name) %>
      <%= f.text_field :name %>

      <%= label(:badband, :song) %>
      <%= f.text_field :song %>

      <%= label(:badband, :album) %>
      <%= f.text_field :album %>

      <%= f.submit "SAVE BAD BAND" %>
    <% end %>

  </div>

</div>
</main>
<%= render 'footer' %>
