<%= render 'header' %>

<main>

<div class='band-show'>
  <div class='band-details'>
    <h1>Details About <%= @badbands.name %></h1>
    <h2>Worst Song: <%= @badbands.song %></h2>
    <h2>Worst Album: <%= @badbands.album %></h2>
  </div>

  <h2>Edit Info</h2>

  <%= form_for :badband, method: 'patch', url: {action: 'update'} do |f| %>
      <%= label(:badband, :song) %>
      <%= f.text_field :song %>

      <%= label(:badband, :album) %>
      <%= f.text_field :album %>

      <%= f.submit "UPDATE" %>
  <% end %>

  <h3><%= link_to "Back", root_path %></h3>

</div>

</main>

<%= render 'footer' %>
